name: CI Check No Dist Update

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'dist/**'

permissions:
  contents: read

jobs:
  fail-on-dist-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47
        with:
          files: |
            dist/**
      - name: Print changes to dist
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            echo "$file was changed"
          done
      - run: |
          echo "The 'dist' directory is automatically updated by the release process."
          echo "It should not be updated manually in a non-release branch or a pull request."
          exit 1