name: CI Lint and Unit Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'dist/**'
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install dependencies
        uses: ./.github/actions/install-yarn-dependencies
        with:
          working-directory: 'sources'
      - name: Check linting and formatting
        run: yarn check
        working-directory: 'sources'

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install dependencies
        uses: ./.github/actions/install-yarn-dependencies
        with:
          working-directory: 'sources'
      - name: Run tests
        run: yarn test
        working-directory: 'sources'