name: Test Assert File Exists
on:
  workflow_call:
    inputs:
      runner-os:
        type: string
        default: '["ubuntu-latest"]'

permissions:
  contents: read

jobs:
  before-all:
    name: Before All
    runs-on: ubuntu-latest
    outputs:
      existing-file-path: ${{ steps.create-temp-file.outputs.existing-file-path }}
    steps:
      - uses: actions/checkout@v6
      - name: Create Temp File
        id: create-temp-file
        run: |
          temp_file=$(mktemp test-file-XXXX.txt)
          echo "This is a test file." > "$temp_file"
          echo "existing-file-path=$temp_file" >> $GITHUB_OUTPUT
      - name: Create Artifact
        uses: actions/upload-artifact@v6
        with:
          path: ${{ steps.create-temp-file.outputs.existing-file-path }}
          name: temp-file
          if-no-files-found: error
          retention-days: 1

  test-correct-path-with-message:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.runner-os) }}
    name: "GIVEN existing file path, message='file not found' WHEN assert-file-exists THEN job is success"
    runs-on: ${{ matrix.os }}
    needs: before-all
    steps:
      - uses: actions/checkout@v6
      - name: Download Temp File
        uses: actions/download-artifact@v7
        with:
          name: temp-file
      - name: Act
        id: act
        continue-on-error: true
        uses: ./assert-file-exists
        with:
          path: ${{ needs.before-all.outputs.existing-file-path }}
          message: file not found
      - name: Assert step success
        uses: jaronline/action-assertions/assert-equals@v1
        with:
          expected: success
          actual: ${{ steps.act.outcome }}

  test-correct-path-without-message:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.runner-os) }}
    name: "GIVEN existing file path WHEN assert-file-exists THEN job is success"
    runs-on: ${{ matrix.os }}
    needs: before-all
    steps:
      - uses: actions/checkout@v6
      - name: Download Temp File
        uses: actions/download-artifact@v7
        with:
          name: temp-file
      - name: Act
        id: act
        continue-on-error: true
        uses: ./assert-file-exists
        with:
          path: ${{ needs.before-all.outputs.existing-file-path }}
      - name: Assert step success
        uses: jaronline/action-assertions/assert-equals@v1
        with:
          expected: success
          actual: ${{ steps.act.outcome }}

  test-incorrect-path-with-message:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.runner-os) }}
    name: "GIVEN non-existent file path, message='file not found' WHEN assert-file-exists THEN job is failure"
    runs-on: ${{ matrix.os }}
    needs: before-all
    steps:
      - uses: actions/checkout@v6
      - name: Act
        id: act
        continue-on-error: true
        uses: ./assert-file-exists
        with:
          path: non-existent-file
          message: file not found
      - name: Assert step failure
        uses: jaronline/action-assertions/assert-equals@v1
        with:
          expected: failure
          actual: ${{ steps.act.outcome }}

  test-incorrect-path-without-message:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.runner-os) }}
    name: "GIVEN non-existent file path WHEN assert-file-exists THEN job is failure"
    runs-on: ${{ matrix.os }}
    needs: before-all
    steps:
      - uses: actions/checkout@v6
      - name: Act
        id: act
        continue-on-error: true
        uses: ./assert-file-exists
        with:
          path: non-existent-file
      - name: Assert step failure
        uses: jaronline/action-assertions/assert-equals@v1
        with:
          expected: failure
          actual: ${{ steps.act.outcome }}
