name: Test Assert Not Equals
on:
  workflow_call:
    inputs:
      runner-os:
        type: string
        default: '["ubuntu-latest"]'

permissions:
  contents: read

jobs:
  test-two-values-not-equal-with-message:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.runner-os) }}
        value:
          - unexpected: 'hello'
            actual: 'world!'
          - unexpected: true
            actual: false
          - unexpected: false
            actual: 'true'
          - unexpected: 0
            actual: 3
          - unexpected: 3.3
            actual: 5.3
          - unexpected: 'hello'
            actual: true
          - unexpected: 3
            actual: false
          - unexpected: true
            actual: 4.3
    name: "GIVEN unexpected=${{ matrix.value.unexpected }}, actual=${{ matrix.value.actual }}, message='Values are equal' WHEN assert-not-equals THEN job is successful"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Act
        id: act
        continue-on-error: true
        uses: ./assert-not-equals
        with:
          unexpected: ${{ matrix.value.unexpected }}
          actual: ${{ matrix.value.actual }}
          message: Values are equal
      - name: Assert step success
        uses: jaronline/action-assertions/assert-equals@v1
        with:
          expected: success
          actual: ${{ steps.act.outcome }}

  test-two-values-not-equal-without-message:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.runner-os) }}
        value:
          - unexpected: 'hello'
            actual: 'world!'
          - unexpected: true
            actual: false
          - unexpected: false
            actual: 'true'
          - unexpected: 0
            actual: 3
          - unexpected: 3.3
            actual: 5.3
          - unexpected: 'hello'
            actual: true
          - unexpected: 3
            actual: false
          - unexpected: true
            actual: 4.3
    name: "GIVEN unexpected=${{ matrix.value.unexpected }}, actual=${{ matrix.value.actual }} WHEN assert-not-equals THEN job is successful"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Act
        id: act
        continue-on-error: true
        uses: ./assert-not-equals
        with:
          unexpected: ${{ matrix.value.unexpected }}
          actual: ${{ matrix.value.actual }}
      - name: Assert step success
        uses: jaronline/action-assertions/assert-equals@v1
        with:
          expected: success
          actual: ${{ steps.act.outcome }}

  test-two-values-equal-with-message:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.runner-os) }}
        value:
          - unexpected: 'hello'
            actual: 'hello'
          - unexpected: 'world!'
            actual: 'world!'
          - unexpected: true
            actual: true
          - unexpected: false
            actual: 'false'
          - unexpected: 0
            actual: '0'
          - unexpected: 3.3
            actual: 3.3
    name: "GIVEN unexpected=${{ matrix.value.unexpected }}, actual=${{ matrix.value.actual }}, message='Values are equal' WHEN assert-not-equals THEN job failure"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Act
        id: act
        continue-on-error: true
        uses: ./assert-not-equals
        with:
          unexpected: ${{ matrix.value.unexpected }}
          actual: ${{ matrix.value.actual }}
          message: Values are equal
      - name: Assert step failure
        uses: jaronline/action-assertions/assert-equals@v1
        with:
          expected: failure
          actual: ${{ steps.act.outcome }}

  test-two-values-equal-without-message:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.runner-os) }}
        value:
          - unexpected: 'hello'
            actual: 'hello'
          - unexpected: 'world!'
            actual: 'world!'
          - unexpected: true
            actual: true
          - unexpected: false
            actual: 'false'
          - unexpected: 0
            actual: '0'
          - unexpected: 3.3
            actual: 3.3
    name: "GIVEN unexpected=${{ matrix.value.unexpected }}, actual=${{ matrix.value.actual }} WHEN assert-not-equals THEN job failure"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Act
        id: act
        continue-on-error: true
        uses: ./assert-not-equals
        with:
          unexpected: ${{ matrix.value.unexpected }}
          actual: ${{ matrix.value.actual }}
      - name: Assert step failure
        uses: jaronline/action-assertions/assert-equals@v1
        with:
          expected: failure
          actual: ${{ steps.act.outcome }}
